/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ==== end of reset ==== */

/* ems based on 12 px */ 


/* ==== main content and layout ==== */

nav {
	width: 14.1666666em;
	border-top: 2px solid #808080;
	border-right: 2px solid #808080;
}

nav ul {
	list-style: none;
}

nav ul li {
	position: relative;
}

nav ul li a {
	height: 2em;
	line-height: 2em;
	display: block;
}


nav ul.level1 > li > a {
	height: 2.33333333em;
	line-height: 2.33333333em;
	background-color: #fbfbf9;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e7e7da;
	padding-left: 2.66666667em;
}

nav ul.level2 > li > a {
	border-bottom: 1px dotted #e7e7da;
	padding-left: 1.66666667em;
}

nav ul.level3 > li > a {
	padding-left: 2.5em;
}

nav ul.level4 > li > a {
	padding-left: 3.3333333em;
}

nav ul.level5 > li > a {
	padding-left: 4.16666667em;
}


/* ==== type ==== */


nav {
	font-family: "Segoe UI", "Lucida Grande", "Helvetica Neue", Arial, sans-serif;
	font-size: 0.75em;
}

nav a {
	color: #333333;
	text-decoration: none;
}

nav a:visited {
	color: #660099;
}

nav a:hover, nav a:focus {
	text-decoration: underline;
}

nav a:active {
	color: #990033;
}

nav a[href="#"]:hover, nav a[href="#"]:focus { /* only for ones that ARE links */
	text-decoration: none;
}

nav a[href="#"]:active { /* only for ones that ARE links */
	color: inherit;
}

/* ==== icons and logos ==== */

/* level1 menu icons, need positioning individually */

nav ul.level1 > li > a:before {
	content: '';
	width: 16px;
	height: 16px;
	display: inline-block;
	border: 6px solid #ececea;
	position: absolute;
	left: 0;
	margin-right: 4px;
}

nav ul.level1 > li.crm > a:before {
	background: url('../images/icon-sprite.png') no-repeat 0 0 #ececea;
}

nav ul.level1 > li.vehicles > a:before {
	background: url('../images/icon-sprite.png') no-repeat -16px 0 #ececea;
}

nav ul.level1 > li.showroom > a:before {
	background: url('../images/icon-sprite.png') no-repeat -32px 0 #ececea;
}

nav ul.level1 > li.workshop > a:before {
	background: url('../images/icon-sprite.png') no-repeat -48px 0 #ececea;
}

nav ul.level1 > li.time_management > a:before {
	background: url('../images/icon-sprite.png') no-repeat 0 -16px #ececea;
}

nav ul.level1 > li.parts > a:before {
	background: url('../images/icon-sprite.png') no-repeat -16px -16px #ececea;
}

nav ul.level1 > li.accounts > a:before {
	background: url('../images/icon-sprite.png') no-repeat -32px -16px #ececea;
}

nav ul.level1 > li.epos > a:before {
	background: url('../images/icon-sprite.png') no-repeat -16px -16px #ececea;
}

nav ul.level1 > li.purchase_orders > a:before {
	background: url('../images/icon-sprite.png') no-repeat -48px -16px #ececea;
}

nav ul.level1 > li.call_centre > a:before {
	background: url('../images/icon-sprite.png') no-repeat 0 -32px #ececea;
}

nav ul.level1 > li.edition > a:before {
	background: url('../images/icon-sprite.png') no-repeat -16px -32px #ececea;
}

nav ul.level1 > li.administration > a:before {
	background: url('../images/icon-sprite.png') no-repeat -32px -32px #ececea;
}

nav ul.level1 > li.datapoint > a:before {
	background: url('../images/icon-sprite.png') no-repeat -48px -32px #ececea;
}

/* menu toggle arrows, need positioning individually for each level -
can i do this programatically with SASS?  */

nav ul > li > ul:before {
	content: '';
	width: 6px;
	height: 8px;
	display: inline-block;
	background: url('../images/arrow-sprite.png') no-repeat 0 -8px;
	position: absolute;
}

nav ul > li > ul:before {
	top: 0.58333333em;
}

nav ul.level1 > li > ul:before {
	right: 0.58333333em;
	top: 0.83333333em;
}

nav ul.level2 > li > ul:before {
	left: 0.83333333em;
}

nav ul.level3 > li > ul:before {
	left: 1.66666667em;
}

nav ul.level4 > li > ul:before {
	left: 2.5em;
}